{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load url from future %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}"/>{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
    <div class="module">
    <table width="100%">
    <caption>{% trans "Choose a user to log in as:" %}</caption>
    {% for user in object_list %}
        <tr>
            {% with full_name=user.get_full_name %}
            <th scope="row">
                <a href="{% url 'login-as-login' user.username %}">{% if full_name %}{{ full_name }} - {% endif %}{{ user.username }}</a>
            </th>
            {% endwith %}
        </tr>
    {% endfor %}
    </table>
    </div>
</div>
{% endblock %}
